:root {
  --color-gray-light: #fafafa;
  --color-accent-primary: #84cc16;
  --color-accent-shade1: #65a30d;
}

html {
  font-size: 62.5%; /* 10px (62.5% of the default 16px) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: ; */
  background-color: var(--color-gray-light);
}

#app {
  width: 120rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120%;
  /* background-color: yellow; 
   border: 1px solid black; */
}

.logo img {
  height: 115px;
  width: auto;
}

.navList a {
  font-size: 2rem;
  color: black;
  padding: 5px;
  text-decoration: none;
}

/* SECTIONS */
.sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 6.4rem;
}
.sections p {
  font-size: 2rem;
}
.textSection,
.imgSection {
  width: 50%;
  padding: 5px;
}

.imgSection img {
  width: 100%;
  height: 100%;
}

/* BUTTONS */

.buttons {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}

.btn {
  /* margin-top: 55px; */
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

#bookNow {
  background-color: var(--color-accent-shade1);
}
