:root {
  --color-gray-light: #fafafa;
  --color-accent-primary: #84cc16;
  --color-accent-shade1: #65a30d;
}

html {
  font-size: 62.5%; /* 10px (62.5% of the default 16px) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-light);
  font-family: "Poppins", sans-serif;
}

#app {
  width: 120rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120%;
  margin-bottom: 30px;
}

nav svg {
  display: none;
}

.logo img {
  height: 115px;
  width: auto;
}

h1 {
  font-size: 6.3rem;
}

.navList a {
  font-size: 1.6rem;
  color: #000;
  padding: 1rem 2rem;
  margin-left: 8px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
}

.navList a:hover,
.bookNow:hover {
  background-color: var(--color-accent-shade1);
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.cta {
  background-color: var(--color-accent-primary);
}
/* SECTIONS */
.sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.textSection {
  margin-right: 10px;
}

.textSection span {
  background-color: var(--color-accent-primary);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.imgSection {
  margin-left: 10px;
}
.sections p {
  font-size: 2rem;
  font-weight: 600;
}
.textSection,
.imgSection {
  width: 50%;
  padding: 5px;
}

.imgSection img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* BUTTONS */

.buttons {
  display: flex;
  width: 95%;
  height: 85px;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.bookNow {
  background-color: var(--color-accent-shade1);
  border: none;
}

/* ///////////////////////////////////// Media query 800px /////////////////////////////////////////// */
@media only screen and (max-width: 800px) {
  body{
    /* width: 100%; */
  }
  #app{
    width: 100%;
  }
  nav {
    width: 100%;
    margin-bottom: 0rem;
  }
  nav a {
    display: none;
  }
  nav svg {
    display: block;
    width: 5rem;
    height: auto;
    cursor: pointer;
  } 
  h1 {
    font-size: 4rem;
    padding: 0.5rem;
  }

  .sections p {
    font-size: 1.6rem;
  }
  .textSection, .imgSection{
    padding: 1rem;
  }
.bookNow, .learnMore {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}
}
