* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  width: 1000px;
  height: 75%;
  padding: 10px;
  border-radius: 5px;
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  /* background-color: yellow; 
   border: 1px solid black; */
}

.logo img {
  height: 100px;
  width: 100px;
}

.navList a {
  text-decoration: underline;
  color: black;
  padding: 5px;
}

